html, body, div, ul {
    margin: 0;
    padding: 0;
}

body {
    color: #262626;
    background: white;
    font: normal 12px/18px Verdana, sans-serif;
}

html, body{
    height: 100%;
}

#content {
    width: 800px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -1.5em;
    padding: 0 60px 30px 60px;
}

a {
    color: #999999;
    font-size: 11px;
    font-family: Arial;
    color:#999999;
    font-weight: bold;
}

h1 {
    color: #black;
    font-family: Arial;
    outline: none;
    font-size: 20px;
    font-style: italic;
}

h2 {
    color: #999999;
    font-family: Arial;
    outline: none;
    font-size: 11px;
    font-style: italic;
}

#logo {
    margin: 47px auto 7px auto;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.centerDiv {
    margin: 20px auto 7px auto;
    text-align: center;
}


/* ======================impulse styles================================================= */

.text {
    color: black;
    font-family: Arial;
    outline: none;
    font-size: 13px;
    margin:0px 0px 0px 0px;
}

.exhibition {
    color: #02B6F5;
    font-family: Arial;
    outline: none;
    font-size: 13px;
    font-weight: bold;
}

.container {
   height: auto;
   overflow: hidden;
   display: table;
}

#impulse {
/*    border-right-style: dotted; */
/*    border-left-style: dotted; */
    border-width: 2px;
    height: 98%;
    width: 98%;
}

#impulse_paragraph {
    border-bottom-style: dotted;
    border-width: 2px;
    text-align: left;
}

#left_paragraph {
    border-right-style: dotted
}

#impulse_paragraph2 {
    text-align: left;
}


.right {
    width: 52%;
    float: right;
    margin: 20px;
   /*   background: #aafed6;*/
}


.left {
    float: none; /* not needed, just for clarification */
 /*    background: #e8f6fe;*/
    /* the next props are meant to keep this block independent from the other floated one */
    margin: 20px;
    width: auto;
    overflow: hidden;
}​​