.container {
    display: flex;
    flex-direction: column;
    padding: 5% 10%;
    color: #fff;
    text-align: center;
}

.header {
    flex: 1;
    text-transform: uppercase;
    font-size: var(--text-22);
    align-content: center;
    margin-bottom: var(--text-22);
}

.break {
    flex: 1;
    border-bottom: var(--border-color) 1px solid;
    margin: 0 15% var(--text-22);
}

.email {
    flex: 1;
    font-size: var(--text-18);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: var(--text-18);
    color: white;
    text-decoration: none;
}

.buttons {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--text-22);
}

.button {
    border: var(--border-color) 1px solid;
    width: var(--text-18);
    height: var(--text-18);
    padding: var(--text-12);
    margin: 0 var(--text-12);
}

.name {
    flex: 1;
    text-transform: uppercase;
    font-size: var(--text-26);
    margin-bottom: var(--text-16);
}

.input {
    font-size: var(--text-18);
    background-color: transparent;
    border: rgba(255, 255, 255, 0.7) 2px solid;
    color: white;
    border-radius: 2px;
    line-height: var(--text-22);
    margin-bottom: 5px;
    height: var(--text-22);
}

.invalid, .input:invalid {
    outline: #FF6666 solid 1px;
}

.input::placeholder {
    color: white;
    font-size: var(--text-12);
    vertical-align: top;
    line-height: var(--text-22)
}

.subscribe {
    color: white;
    font-size: var(--text-12);
    border: var(--border-color) 1px solid;
    margin: 10px var(--text-36);
    padding: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
}

.subscribers {
    text-align: left;
    font-size: var(--text-12);
}

.subscriber {
    display: flex;
    justify-content: flex-end;
}

.confirm {
    color: white;
    font-size: var(--text-12);
    border: var(--border-color) 1px solid;
    margin: 0 0 0 var(--text-6);
    padding: 2px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
}

.confirmed {
    margin: 0 0 0 var(--text-6);
}