.container {
    display: flex;
    flex-direction: column;
    padding: 5% 10%;
    color: #fff;
    text-align: center;
    position: relative;
}

.container textarea {
    -webkit-appearance: initial;
    background-color: transparent;
    -webkit-rtl-ordering: logical;
    flex-direction: column;
    resize: none;
    cursor: default;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: center;
    color: #fff;
    border: none;
    -webkit-writing-mode: initial;
    font-family: 'Playfair Display', serif;
}

.container textarea:focus {
    outline: none;
}

.header {
    flex: 1;
    text-transform: uppercase;
    font-size: var(--text-22);
    align-content: center;
    margin-bottom: var(--text-22);
}

.break {
    flex: 1;
    border-bottom: var(--border-color) 1px solid;
    margin: 0 30% var(--text-22) 30%;
}

.name {
    flex: 1;
    text-transform: uppercase;
    font-size: var(--text-36);
    margin-bottom: var(--text-22);
}

.address {
    flex: 1;
    font-size: var(--text-18);
    margin-bottom: var(--text-18);
}

.features {
    flex: 1;
    font-size: var(--text-18);
    margin-bottom: var(--text-18);
}

.timeAndPlace {
    flex: 1;
    font-size: var(--text-16);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: var(--text-18);
}

.invitation {
    text-decoration: none;
    color: inherit;
    flex: 1;
    font-size: var(--text-12);
    border: var(--border-color) 1px solid;
    margin: 10px auto;
    padding: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.adminButtons {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    flex-direction: column;
}