.container {
    padding: 2% 15% 0 15%;
    flex: 1;
    display: flex;
    flex-direction: column;
    background: no-repeat center;
    background-size: cover;
}

.header {
    display: flex;
}

.title {
    flex: 3;
    text-transform: uppercase;
    font-size: var(--text-16);
    height: var(--text-22);
    opacity: 0.8;
}

.linksWrapper {
    display: flex;
    flex-direction: column;
    flex: 3;
}

.links {
    padding: 4px 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: var(--head-background);
    font-size: var(--text-16);
}

.link {
    padding: 0 2px;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.active {
    color: var(--active-color);
}

.link:hover {
    color: var(--hover-color);
}

.body {
    margin: var(--text-22) 0 0 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
}

.body::-webkit-scrollbar, .bodyContact::-webkit-scrollbar{
    width: 8px;
}

.body::-webkit-scrollbar-track, .bodyContact::-webkit-scrollbar-track {
    background-color: transparent;
    visibility: hidden;
    border-radius: 10px;
}

.body::-webkit-scrollbar-thumb, .bodyContact::-webkit-scrollbar-thumb {
    width: 8px;
    background-color: var(--boxes-background);
    border-radius: 10px;
    border: 1px solid rgba(256, 256, 256, 0.6);
}

.bodyContact {
    margin: var(--text-22) 25% 0 25%;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
}