html,
body {
    height: 100%;
    width: 100%;
    font-size: 1.8vw;
    background-color: #BBBBBB;
    display: flex;
    overflow: hidden;
    margin: 0;
    font-family: 'Playfair Display', serif;
    --head-background: rgba(0, 0, 0, 0.8);
    --boxes-background: rgba(0, 0, 0, 0.6);
    --border-color: #CCCC33;
    --hover-color: #CCCC33; /*#FFFFC2;*/
    --active-color: #CCCC33; /*#F8FD89;*/
    --text-6: 0.4rem;
    --text-12: 0.6rem;
    --text-16: 0.8rem;
    --text-18: 1rem;
    --text-22: 1.2rem;
    --text-26: 1.4rem;
    --text-36: 2rem;
}