.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    color: #fff;
}

.box {
    display: flex;
    flex-direction: column;
    width: 12rem;
    height: 8rem;
}

.item {
    padding: 10px;
    display: flex;
    flex: 1;
    justify-content: space-between;
}
.wrong {
    color: palevioletred;
    padding: 10px;
}

.button {
    flex: 1;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: var(--text-12);
    padding: 16px;
    border: var(--border-color) 1px solid;
    text-align: center;
}


